*{
    font-family: 'Amatic SC', cursive;
    color: white;
}

body{
    margin: 0;
    padding: 0;
}
header, footer, aside, main {
    border: white 1px solid;
}

header{
    width: 100%;
    height: 100px;
    background-color: rgb(8, 141, 130);
    display: flex;
    justify-content: center;
    font-size: 18px;
}
#images{
   width: 100px;
   height: 50px;
   justify-content: flex-start;
   align-content: center;
   margin: 0px;

}
main {
    width: 85%;
    background-color:rgb(143, 202, 197);
    padding-left: 20px;
    font-size: 20px;
}

img{
    inline-size: 30%;
}


aside{
    width: 15%;
    background-color: rgb(20, 155, 173);
    font-size: 20px;
    padding-left: 10px;
    font-size: 30px;
}

footer{
    width: 100%;
    height: 250px;
    background-color: rgb(8, 141, 130);
    text-align: center;
    font-size: 18px;
}
.footer-column{
    width: 40%;
    float: left;
    min-height: 5px;
    padding: 20px 70px;
    text-align: justify;
}
button{
    border: 0 solid;
    border-width: 2px;
    border-color: black;
    background: transparent;
}